/* ============ INDEX ============*/

.mainIndex {
  background: $color-fondos;

  .imgIndex {
    width: 30%;
  }

  .tituloIndex {
    padding-top: 15px;
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-texto;
  }

  .parrafoIndex {
    @include titulos;
  }


  @media (min-width: 0px) and (max-width: 480px) {
    .imgIndex {
      width: 70%;
    }
  }
}

/* ============ NOSOTROS ============*/

.sectionNos1 {
  background-color: $color-fondos;


  .subtituloNosotros {
    @include letra;
    @include titulos;
  }

  .parrafoNosotros {
    @include letra;
  }

  .imgNuestro {
    border-radius: 4px;
  }
}

/* ============ CHARLAS ============*/

.mainCharlas {
  background: $color-fondos;

  .textoCharlas1 {
    @include titulos;
  }

  .textoCharlas {
    @include letra;
    text-align: center;
    font-size: $tamaño-fuente;
    animation-name: animationtex;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes animationtex {
    0% {
      color: black;
    }

    100% {
      color: red;
    }
  }

  @media (min-width: 767px) {
    .textoCharlas1 {
      display: none;
    }
  }

  @media (min-width: 0px) and (max-width: 480px) {
    .textoCharlas {
      font-size: 1rem;
    }
  }
}



/* ============ PRODUCTOS ============*/

.mainProductos {
  background: $color-fondos;

  .cardProductos {
    @include hoverCards;

    h2 {
      font-size: $tamaño-fuente;
    }
  }
}

/* ============ CONTACTO ============*/

.backgroundContact {
  background-image: url(../img/contacto.jpg);

  .textInput {
    width: $width-form;
    margin: auto;
  }

  .contenedorForm {
    text-align: center;
    @include titulos
  }

  h1 {
    font-size: 2rem;
  }

  .botonSubmit {
    width: 7rem;
    color: $color-texto;
  }

  .textArea {
    text-align: center;
    width: $width-form;
    border-radius: 10px;
  }

  @media (min-width: 0px) and (max-width: 480px) {

    .contactoTitulo {
      color: $color-texto;
    }

    .labelForm {
      color: $color-texto;
      @include titulos;

    }

    .textArea {
      width: $width-responsive;
      border-radius: 10px;
    }

    .textInput {
      width: $width-responsive;
    }
  }
}