/* ============ INDEX ============*/

.mainIndex {
  background: $color-fondos;

  .imgIndex {
    width: 30%;
  }

  .tituloIndex {
    padding-top: 15px;
    // padding-bottom: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    // @include titulos;
    color: #fff;
  }

  // .carouselIndex {
  //   padding-bottom: 20px;
  // }

  .parrafoIndex {
    @include titulos;
  }


  @media (min-width: 0px) and (max-width: 480px) {
    .imgIndex {
      width: 70%;
    }
  }
}

/* ============ NOSOTROS ============*/

.sectionNos1 {
  background-color: $color-fondos;


  .subtituloNosotros {
    @include letra;
    @include titulos;
  }

  .parrafoNosotros {
    @include letra;
  }
}

/* ============ CHARLAS ============*/

.mainCharlas {
  background: $color-fondos;

  .imgCharlas {
    height: 50%;
  }

  .textoCharlas {
    @include letra;
    text-align: center;
    font-size: $tamaño-fuente;
    animation-name: animationtex;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes animationtex {
    0% {
      color: black;
    }

    100% {
      color: red;
    }
  }

  @media (min-width: 0px) and (max-width: 480px) {
    .textoCharlas {
      font-size: 1rem;
    }
  }
}



/* ============ PRODUCTOS ============*/

.mainProductos {
  background: $color-fondos;

  .cardProductos {
    @include hoverCards;

    h2 {
      font-size: $tamaño-fuente;
    }
  }
}

/* ============ CONTACTO ============*/

.backgroundContact {
  background: $color-fondos;

  h1 {
    font-size: 2rem;
  }

  .imgContact {
    width: 500px;
    border-radius: 40px;
    margin-left: 220px;
  }

  .botonSubmit {
    width: 100px;
    color: white
  }

  .textArea {
    width: 400px;
    border-radius: 10px;
  }

  @media (min-width: 0px) and (max-width: 480px) {
    .imgContact {
      display: none;
    }

    .textArea {
      width: 240px;
      border-radius: 10px;
    }

    .textInput {
      width: 240px;
    }
  }

  @media (min-width: 481px) and (max-width: 1000px) {

    .textInput {
      width: 300px;
    }

    .imgContact {
      display: none;
    }
  }
}